@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lilita+One&family=Lumanosimo&family=Mukta&family=Poppins:wght@400;500&family=Roboto&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lilita+One&family=Lumanosimo&family=Mukta&family=Poppins:wght@400;500&family=Roboto&family=Varela+Round&display=swap');

@media only screen and (max-width: 900px) {
  .vid{
      display: none;
    }
  }
.grid{
  display: grid;
  columns: 3;
}

@media only screen and (max-width: 900px) {
  /* chote wale ke liye ye */
  .sx{
      margin-left: 0px;
  }

  .navv{
    display: none;
  }

}
.dropbtn {
  background-color: #1a1414;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000000;
}
.fg{
  display: flex;
  margin-top: 20px;
}

@media only screen and (min-width: 900px) {
  /* bade ke liye ye */
  .navvv{
    display: none;
  }
}
@media only screen and (min-width: 1288px) {
  /* bade ke liye ye */
  .vvvv{
    /* display: none; */
  }
}
ul{
  list-style-type: none
}
@media only screen and (max-width: 1288px) {
  /* bade ke liye ye */
  .vvvv{
    display: none;
  }
}

.tv{
  text-decoration: none;
}
.head{
  font-size: 44px;
  font-weight: 100;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-family: 'Lilita One', cursive;
/* font-family: 'Lumanosimo', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Lumanosimo', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;  */
}

@media (min-width: 576px){
.col-sm-2 {
    flex: 0 0 auto;
    width: 9.666667%;
  } 
}
@media (min-width: 576px){
.col-sm-10 {
    flex: 0 0 auto;
    width: 90.333333%;
  }
}
.fl{
  display: flex;
  flex-wrap: wrap;

}
body {
  font-family: "Roboto", sans-serif;
}

#player {
  display: inline-block;
  width: 100%;
  height: 234px;
}

.pl-0{
  padding-left:0 !important;
}

.pr-0{
  padding-right:0 !important;
}

.page-link {
  border: none;
  color: #000 !important;
}

.video-item {
  display: inline-block;
  width: 300px;
  margin-right: 10px;
}

.video-item:last-child {
  margin-right: 0;
}

.footer-link{
  color: #000 !important;
  text-decoration: none !important;
}

.footer-link:hover{
  color: #0d6efd !important;
}

.page-item{
  font-size: 1.25rem!important;
}

.text-justify{
  text-align: justify;
}

.latest-new.read-m {
  margin-bottom: 15px;
  overflow: hidden;
}

.box-dot {
  width: 40px !important;
  display: block;
  line-height: 10px;
  text-align: center;
}

.card-li-b li {
  width: 19%;
  float: left;
  margin-right: 10px;
}

.nav-link {
  color: #000;
}

.nav-pills,
.nav-link.active {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: bold !important;
}

.latest_nws ul li a {
  padding: 7px 0px;
}

ul li.dark {
  border: 1px solid #dfdfdf;
  padding: 0px 8px;
  margin-right: 10px;
}

.bottom-list button {
  color: #9a91f9 !important;
}

#live-tv {
  display: inline-block;
  width: 100% !important;
  height: 500px;
}

@media only screen and (max-width: 1024px) {
  .card-li-b li {
    width: 30% !important;
    height: 150px;
    margin-bottom: 10px;
  }
  #live-tv {
    display: inline-block;
    width: 100%;
    height: 500px !important;
  }
}
.pb-3 {
  padding-bottom: 0rem!important;
}
.show {display: block;}
.mn{
  margin-left: 110px;
}
.sea{
  margin-left: 30vw;
  margin-top: 12px;
}
@media only screen and (max-width: 570px) {
  .card-li-b li {
    width: 100% !important;
  }

  .logo-main {
    float: left;
    width: 20%;
  }

  .left-icon {
    width: 23%;
    float: left;
  }

  .left-icon li {
    margin: 0px 10px !important;
  }

  .sign-up {
    width: 50%;
    float: right !important;
  }

  .sign-up i {
    display: none;
  }

  #live-tv {
    display: inline-block;
    width: 100% !important;
    height: 300px;
  }
}

.ban{
  color: rgb(92, 92, 92);
}
.band{
  color: rgb(230, 44, 44);
}
@media only screen and (max-width: 570px) {
  #live-tv {
    display: inline-block;
    width: 100% !important;
    height: 234px;
  }
}
@media only screen and (max-width: 570px){
  .logo-main {
      float: left;
      width: 49%;
  }
}
@media only screen and (min-width: 1460px){
  .asd{
    display: none;
  }
  #sdf{
    display: none;
  }
}

@media only screen and (max-width: 1460px){
.qqq{
  display: none;
  }
#sdf{
  display: none;
  }
}
@media only screen and (min-width: 1288px){
  .asd1{
    display: none;
  }
  #sdf{
    display: none;
  }
}

@media only screen and (max-width: 1288px){
.qqq{
  display: none;
  }
#sdf{
  display: none;
  }
}
.dop{
  margin-left: -70px;
}


/**************************************************************/

/* @import url("../../UI/primary.css"); */

.profile {
  display: flex;
  align-items: center;
}

.profile-photo {
  height: 24px;
  width: 24px;
  margin-inline: 8px;
  margin-top:-20px;
  margin-left:-5px;
  margin-right: 20px;
  align-items: center;
}
.show{
  display: none;
}

p {
  color: var(--color-dark-variant);
}

#menu-bar{
  display: none;
}
.navigation-menu-item span {
  font-size: 10px;
}
header{
  padding: 20px;
  /* display: flex; */
}

.hamburger{
  height: 24px;
  width: 24px;
  margin-inline: 8px;
  margin-left: 20px;
  margin-top: 0px ;
}

.navbar2{
  position: absolute;
  margin-top: 35px;
  margin-right: 10px;
  right: 0;
  display: none;
  border-radius: 1px 1px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 15%;
}

.men{
  list-style-type:none;
  margin-left: -15px;
  margin-top:15px;
}
.link{
  width: 80%;
  text-decoration: none;
  color:  black;
}
.link:hover{
  color: var(--secondary-color);
}
.m{
  display: flex;
}
ol, ul {
  padding-left: 0rem;
}
.noHover{
  pointer-events: none;
}
#hamburger{
  margin-top: -50px;
  display: none;
}
#hamburger:checked~.navbar2{
  display: initial;
  background: white ;
  color: rgb(0, 0, 0);
}
#menu-bar:checked~.navbar1{
  display: initial;
  background:var(--primary-color) ;
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Mulish:wght@400;700;800;900;1000&family=Playfair+Display&display=swap");

:root {
  --primary-color: #118ab2;
  --secondary-color: #ffd166;
  --section-color: #364e60;
  --color-white: #ffffff;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark: #363949;
  --color-info-dark: #7d8da1;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-btn-hover: #ecf0f1;
  --color-icon-inactive: #8ec3d8;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

  --logo-font-family: "Inter", sans-serif;
  --content-font-family: "Mulish", sans-serif;

  --padding-nav: 7rem;
}
